{{ if and .Values.ingress.domain (ne .Values.ingress.domain "") }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nkp-ingress
  labels: {{ .Values.labels | toYaml | nindent 4 }}
spec:
  ingressClassName: ngrok
  rules:
    - host: {{ .Values.ingress.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: neon-kube-previews
                port:
                  number: {{ .Values.service.port }}
{{ end }}
